/* Base dropdown style */
.dropdown-menu {
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  transition: all 0.2s ease-in-out;
  min-width: 260px;
  font-size: 15px;
}

/* Dropdown button */
.btn.dropdown-toggle {

  background-color: #ffff;
  transition: all 0.2s;
}

.btn.dropdown-toggle:hover {
  background-color: #e2e6ea;
  color: #0d6efd;
}

/* Dropdown items */
.dropdown-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.35rem;
  color: #333;
  transition: background-color 0.15s;
}

.dropdown-item:hover {
  background-color: #f1f3f5;
  color: #0d6efd;
}

/* Submenu style */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -0.4rem;
  margin-left: 0.1rem;
  display: none;
  position: absolute;
  border-radius: 0.4rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

/* Submenu arrows (optional) */
.dropdown-toggle::after {
  margin-left: auto;
  /* transform: rotate(90deg); */
}


.dropdown-item img {
  margin-right: 12px;
}

.modern-dropdown-toggle::after {
  margin-left: 12px; /* adjust this value as needed */
}




.modal-content {
  background: #ffffff;
  padding: 2rem;
  transition: all 0.3s ease-in-out;
}

.modal-title {
  font-size: 1.5rem;
}

.btn-close {
  background-color: #eee;
  border-radius: 50%;
  padding: 0.5rem;
}

.btn-danger {
  background-color: #bd3535;
  border: none;
}

.btn-danger:hover {
  background-color: #bd3535;
}
